:root {
  --dark_grey: #1A1A1B;
  --light_grey: #333F44;
  --dark_blue: #37AA9C;
  --light_blue: #94F3E4;
  --default_text: white;
}
body {
    color: var(--default_text);
    background-color: var(--light_grey);
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

#top-bar {
    display: flex;
    background-color: var(--dark_grey);
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

#logo {
    margin: 0%;
    font-size: 2em;
    font-weight: bold;
}

#info {
    display: inherit;
    justify-content: space-around;
}

.section {
    margin: 1em;
}

#landingpage {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#AboutMe {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  display:grid;
}
#AboutMe > h1 {
  margin: 10px;
}
#Name{
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover{
  color: var(--light_blue);
}
a:active{
  color: var(--dark_blue);
}
